*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 400px;
    width:700px;
    border: solid rgb(168, 31, 31);

}

.wrapper img{
    width: 100%;
    height: 400px;
    /* object-fit: cover; */
    /* yesle chai div ma full size ma aaunxa */
    object-fit: contain; 
    /* yesle chai image ko default size nai dekhaunxa */
}
